[Unit]
Description = PyLoader
After = network.target
[Service]
ExecStart = /usr/local/bin/python3 /home/pi/py_loader/pyloader.py
StandardOutput = syslog
StandardError = syslog
SyslogIdentifier = PyLoader
[Install]
WantedBy = multi-user.target
